### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

### A note for students using this template

 > ***Markdown*** Remember to change cell types to `Markdown`. You can review [Markdown basics](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) to find out how to add formatted text, links, and images to your notebook.

#

# Assignment activity 1

In [1]:
# My GitHub repository.

In [ ]:
# https://github.com/TimAyling/DA201_Assignment/tree/main

#

# Assignment activity 2

### Prepare your workstation

In [37]:
# Import the necessary libraries.
import pandas as pd
import numpy as np

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Import and sense-check the actual_duration.csv data set as ad.
ad = pd.read_csv('actual_duration.csv')

# View the DataFrame
print(ad.shape)
ad.dtypes

(137793, 8)

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [13]:
# Viewing the head of the DataFrame Actual Duration
ad.head(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [14]:
# Viewing the tail of the DataFrame Actual Duration
ad.tail(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [35]:
# Determine whether there are missing values.
ad_na = ad[ad.isna().any(axis=1)]

ad_na.shape

(0, 8)

In [45]:
ad.isnull().values.any()

False

In [12]:
# Determine the metadata of the data set.

In [43]:
# Determine the descriptive statistics of the data set.

ad_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sub_icb_location_code      0 non-null      object
 1   sub_icb_location_ons_code  0 non-null      object
 2   sub_icb_location_name      0 non-null      object
 3   icb_ons_code               0 non-null      object
 4   region_ons_code            0 non-null      object
 5   appointment_date           0 non-null      object
 6   actual_duration            0 non-null      object
 7   count_of_appointments      0 non-null      int64
dtypes: int64(1), object(7)
memory usage: 0.0+ bytes

In [48]:
# Import and sense-check the appointments_regional.csv data set as ar.
ar = pd.read_csv('appointments_regional.csv')

# View the DataFrame
print(ar.shape)
print(ar.dtypes)

(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [15]:
# Viewing the head of the DataFrame Appointments Regional
ar.head(5)

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [16]:
# Viewing the tail of the DataFrame Appointments Regional
ar.tail(5)

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [51]:
# Determine whether there are missing values.
ar_na = ar[ar.isna().any(axis=1)]

ar_na.shape

(0, 7)

In [49]:
ar.isnull().values.any()

False

In [ ]:
# Determine the metadata of the data set.

In [52]:
# Determine the descriptive statistics of the data set.
ar_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   icb_ons_code                       0 non-null      object
 1   appointment_month                  0 non-null      object
 2   appointment_status                 0 non-null      object
 3   hcp_type                           0 non-null      object
 4   appointment_mode                   0 non-null      object
 5   time_between_book_and_appointment  0 non-null      object
 6   count_of_appointments              0 non-null      int64
dtypes: int64(1), object(6)
memory usage: 0.0+ bytes

In [14]:
# Import and sense-check the national_categories.xlsx data set as nc.
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame
print(nc.shape)
nc.dtypes

(817394, 8)

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [17]:
# Viewing the head of the DataFrame National Categories
nc.head(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [18]:
# Viewing the tail of the DataFrame National Categories
nc.tail(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

In [54]:
# Determine whether there are missing values.
nc_na = nc[nc.isna().any(axis=1)]

nc_na.shape

(0, 8)

In [56]:
ad.isnull().values.any()

False

In [ ]:
# Determine the metadata of the data set.

In [55]:
# Determine the descriptive statistics of the data set.
nc_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   appointment_date       0 non-null      datetime64[ns]
 1   icb_ons_code           0 non-null      object
 2   sub_icb_location_name  0 non-null      object
 3   service_setting        0 non-null      object
 4   context_type           0 non-null      object
 5   national_category      0 non-null      object
 6   count_of_appointments  0 non-null      int64
 7   appointment_month      0 non-null      object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 0.0+ bytes

### Explore the data set

**Question 1:** How many locations are there in the data set?

In [19]:
# Determine the number of locations.
# Number of locations  -i.e. sub_icb_location_name
# Create a group and then determine its size
loc_name1 = nc.groupby('sub_icb_location_name')
loc_name1.size()

sub_icb_location_name
NHS Bath and North East Somerset Swindon and Wiltshire ICB - 92G    11545
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y                 9490
NHS Birmingham and Solihull ICB - 15E                               11789
NHS Black Country ICB - D2P2L                                       11776
NHS Bristol North Somerset and South Gloucestershire ICB - 15C       9673
                                                                    ...
NHS West Yorkshire ICB - 02T                                         7072
NHS West Yorkshire ICB - 03R                                         7990
NHS West Yorkshire ICB - 15F                                         9478
NHS West Yorkshire ICB - 36J                                         8282
NHS West Yorkshire ICB - X2C4Y                                      10066
Length: 106, dtype: int64

**Question 2:** What are the five locations with the highest number of records?

In [23]:
# Determine the top five locations based on record count.'sub_icb_location_name'
#nc.groupby(by='count_of_appointments')['sub_icb_location_name']nlargest(5)
# extracting greatest 5

large5 = nc.nlargest(5, "sub_icb_location_name")
large5

TypeError: Column 'sub_icb_location_name' has dtype object, cannot use method 'nlargest' with this dtype

In [16]:
# max = Returns max of a column
max_vals_loc = nc[["sub_icb_location_name"]]. max()
max_vals_loc

sub_icb_location_name    NHS West Yorkshire ICB - X2C4Y
dtype: object

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [23]:
# Determine the number of service settings.
#  -i.e. service_setting
# Create a group and then determine its size
service_set = nc.groupby('service_setting')
service_set.size()

service_setting
Extended Access Provision    108122
General Practice             359274
Other                        138789
Primary Care Network         183790
Unmapped                      27419
dtype: int64

In [24]:
# Determine the number of context types.
# -i.e. context_type
# Create a group and then determine its size
con_type = nc.groupby('context_type')
con_type.size()

context_type
Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
dtype: int64

In [25]:
# Determine the number of national categories.
# -i.e. national_category
# Create a group and then determine its size
nat_category = nc.groupby('national_category')
nat_category.size()

national_category
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Care Home Visit                                                        26644
Clinical Triage                                                        74539
General Consultation Acute                                             84874
General Consultation Routine                                           89329
Group Consultation and Group Education                                  5341
Home Visit                                                             41850
Inconsistent Mapping                                                   89494
Non-contractual chargeable work                                        20896
Patient contact during Care Home Round                                 28795
Planned Clinical Procedure                                             59631
Planned Clinics                                                        76429
Service provided by organisation external to the practice              43095
Social Prescribing Service                                             26492
Structured Medication Review                                           44467
Unmapped                                                               27419
Unplanned Clinical Activity                                            40415
Walk-in                                                                14179
dtype: int64

In [26]:
# Determine the number of appointment status.
# -i.e. appointment_status
# Create a group and then determine its size
ar_app_stat = ar.groupby('appointment_status')
ar_app_stat.size()

appointment_status
Attended    232137
DNA         163360
Unknown     201324
dtype: int64

#

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [43]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
# Import Datetime
from datetime import date
ad.head(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [44]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc.head(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [65]:
# Change the date format of ad['appointment_date'].

# currently in format: DD-MM(text)-YY (01-Dec-21)
# change to: DD-MM-YY - "%d %m %Y"
# Import the datetime module and datetime class.
from datetime import datetime

ad['appointment_date'].dt.strftime("%d %m %Y")


# View the DateFrame.

AttributeError: Can only use .dt accessor with datetimelike values

In [39]:
# Change the date format of nc['appointment_date'].
# currently in format: YYYY-MM-DD (2021-08-02)
# change to: DD-MM-YY

nc_new = nc['appointment_date'].dt.strftime("%d %m %Y")
nc_new

# View the DateFrame.

0         02 08 2021
1         02 08 2021
2         02 08 2021
3         02 08 2021
4         02 08 2021
             ...
817389    30 06 2022
817390    30 06 2022
817391    30 06 2022
817392    30 06 2022
817393    30 06 2022
Name: appointment_date, Length: 817394, dtype: object

In [41]:
nc

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [66]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.

nc_date_group = nc.groupby('appointment_date')
nc_date_group.size()  

#come back to this

appointment_date
2021-08-01     247
2021-08-02    3102
2021-08-03    3205
2021-08-04    3149
2021-08-05    3130
              ...
2022-06-26     289
2022-06-27    3451
2022-06-28    3536
2022-06-29    3483
2022-06-30    3468
Length: 334, dtype: int64

In [67]:
nc_date_group.max()

,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
appointment_date,,,,,,,
2021-08-01,E54000062,NHS West Yorkshire ICB - 15F,Unmapped,Unmapped,Walk-in,607,2021-08
2021-08-02,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,13150,2021-08
2021-08-03,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,12657,2021-08
2021-08-04,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,12344,2021-08
2021-08-05,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,10882,2021-08
...,...,...,...,...,...,...,...
2022-06-26,E54000062,NHS West Yorkshire ICB - 15F,Unmapped,Unmapped,Walk-in,355,2022-06
2022-06-27,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,16242,2022-06
2022-06-28,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,15424,2022-06
2022-06-29,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,14107,2022-06
2022-06-30,E54000062,NHS West Yorkshire ICB - X2C4Y,Unmapped,Unmapped,Walk-in,13932,2022-06

In [68]:
nc_date_group.min()

,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
appointment_date,,,,,,,
2021-08-01,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2021-08
2021-08-02,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2021-08
2021-08-03,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2021-08
2021-08-04,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2021-08
2021-08-05,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2021-08
...,...,...,...,...,...,...,...
2022-06-26,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2022-06
2022-06-27,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2022-06
2022-06-28,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2022-06
2022-06-29,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2022-06
2022-06-30,E54000008,NHS Bath and North East Somerset Swindon and W...,Extended Access Provision,Care Related Encounter,Care Home Needs Assessment & Personalised Care...,1,2022-06

In [10]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.

# max = Returns max of a column
max_vals = ad[["appointment_date","count_of_appointments"]]. max()
max_vals

appointment_date         31-May-22
count_of_appointments        15400
dtype: object

In [11]:
# min = Returns min of a column
min_vals = ad[["appointment_date","count_of_appointments"]]. min() 
min_vals

appointment_date         01-Apr-22
count_of_appointments            1
dtype: object

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [ ]:
# For each of these service settings, determine the number of records available for the period and the location.Â 


# View the output.

**Question 3:** Which month had the highest number of appointments?

In [26]:
# Number of appointments per month == sum of count_of_appointments by month.
# Use the groupby() and sort_values() functions.

nc_app_month = nc.groupby("count_of_appointments","appointment_month")

ValueError: No axis named appointment_month for object type DataFrame

**Question 4:** What was the total number of records per month?

In [33]:
# Total number of records per month.

rec_mon = nc.DataFrame({'appointment_month': pd.date_range(start='01-2021', end='12-2022')})
rec_mon['appointment_month'].groupby(df.appointment_month.dt.to_period("M")).agg('count')

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

#

# Assignment activity 4

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [ ]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

### Objective 1
Create three visualisations indicating the number of appointments per month for service settings, context types, and national categories.

In [ ]:
# Change the data type of the appointment month to string to allow for easier plotting.

In [ ]:
# Aggregate on monthly level and determine the sum of records per month.


# View output.

**Service settings:**

In [ ]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.

**Context types:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the context types for months.
# Create a lineplot.

**National categories:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the national categories for months.
# Create a lineplot.

### Objective 2
Create four visualisations indicating the number of appointments for service setting per season. The seasons are summer (August 2021), autumn (October 2021), winter (January 2022), and spring (April 2022).

**Summer (August 2021):**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Look at August 2021 in more detail to allow a closer look.
# Create a lineplot.

**Autumn (October 2021):**

In [ ]:
# Look at October 2021 in more detail to allow a closer look.
# Create a lineplot.

**Winter (January 2022):**

In [ ]:
# Look at January 2022 in more detail to allow a closer look.
# Create a lineplot.

**Spring (April 2022):**

In [ ]:
# Look at April 2022 in more detail to allow a closer look.
# Create a lineplot.

#

# Assignment activity 5

### Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Libraries and settings needed for analysis
import pandas as pd
import seaborn as sns

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display
pd.options.display.max_colwidth = 200

In [ ]:
# Load the data set.


# View the DataFrame.

In [ ]:
# Explore the metadata.

In [ ]:
# Explore the data set.

In [ ]:
# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.

In [ ]:
# Create a new DataFrame containing only the text.


# View the DataFrame.

In [ ]:
# Loop through the messages, and create a list of values containing the # symbol.

In [ ]:
# Display the first 30 records.

In [ ]:
# Convert the series to a DataFrame in preparation for visualisation.


# Rename the columns.

In [ ]:
# Fix the count datatype.


# View the result.

In [ ]:
# Display records where the count is larger than 10.

In [ ]:
# Create a Seaborn barplot indicating records with a count >10 records.

In [ ]:
# Create the plot.


# View the barplot.

#

# Assignment activity 6

### Investigate the main cencerns posed by the NHS.

In [ ]:
# Prepare your workstation.
# Load the appointments_regional.csv file.


# View the DataFrame.

In [ ]:
# Print the min and max dates.

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.

**Question 1:** Should the NHS start looking at increasing staff levels?

In [ ]:
# Create an aggregated data set to review the different features.


# View the DataFrame.

In [ ]:
# Determine the total number of appointments per month.


# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.


# View the DataFrame.

In [ ]:
# Plot sum of count of monthly visits.
# Convert the appointment_month to string data type for ease of visualisation.


# Create a lineplot with Seaborn.

In [ ]:
# Plot monthly capacity utilisation.


# Create a lineplot.

**Question 2:** How do the healthcare professional types differ over time?

In [ ]:
# Create a line plot to answer the question.

**Question 3:** Are there significant changes in whether or not visits are attended?

In [ ]:
# Create a line plot to answer the question.

**Question 4:** Are there changes in terms of appointment type and the busiest months?

In [ ]:
# Create a line plot to answer the question.

**Question 5:** Are there any trends in time between booking an appointment?

In [ ]:
# Create a line plot to answer the question.

**Question 6:** How do the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.

# View the DataFrame.

In [1]:
# Create a boxplot to investigate spread of service settings.

In [ ]:
# Create a boxplot to investigate the service settings without GP.

#

### Provide a summary of your findings and recommendations based on the analysis.